#articleBox{
  width: 100%;
  height: 25rem;
  border: solid 1px #000000;
  border-radius: 1rem;
  margin: 3rem 0 0 0;
}

#formUpload{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7rem 5rem 5rem 5rem;
}

.container {
  padding: 3rem;
}

.main{
  display: flex;
}

.logo{
  font-size: 3rem;
  font-weight: 700;
}

.sidebar{
  width: 15%;
  height: 25rem;
  position: fixed;
}

.mainFeed{
  width: 80%;
  margin: 0 0 0 20rem;
}

.footer{
  width: 70%;
  height: 3rem;
  background-color: blueviolet;
}

.categoryItem{
  list-style: none;
  margin: 1rem;
}

.hero{
  width: 100%;
  height: 26rem;
  display: flex;
  padding: 0 0 1.5rem 0;
}

.heroCarousel{
  width: 75%;
  height: 100%;
  display: flex;
}

.trendingContainer{
  width: 25%;
  height: 98%;
  border: solid 1px #000000;
  border-radius: 1rem;
  margin: 1rem 1rem 1rem 2rem;
}

.heroSub1{
  width: 50%;
  height: 97%;
  border: solid 1px #000000;
  border-radius: 1rem;
  margin: 1.25rem 0 1.25rem 1.25rem;
}

.heroSub2{
  width: 50%;
  height: 95%;
  display: flex;
  margin: 0.5rem;
}

.heroSub2Container1, .heroSub2Container2{
  width: 50%;
  height: 100%;
  margin: 0.25rem;
}

.heroBlock1, .heroBlock2, .heroBlock3, .heroBlock4{
  width: 100%;
  height: 50%;
  border: solid 1px #000000;
  border-radius: 1rem;
  margin: 0.5rem;
}

.topPosts{
  width: 97%;
  margin: 10rem 0 0 0;
  margin: 5rem 1rem 1rem 1rem;
}

.uploadTitle{
  width: 80%;
  height: 3rem;
  background-color: #f4f4f4;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  color: #000000;
  padding: 0 1rem 0 1rem;
}

.uploadTextArea{
  width: 80%;
  height: 30rem;
  background-color: #ffffff;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  color: #000000;
  padding: 0 1rem 0 1rem;
  resize: none;
  margin: 2rem 0 0 0;
}

.uploadTextArea:focus{
  outline: none;
}

.articleWritingTools{
  width: 40%;
  height: 2rem;
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}

.publishBtn{
  position: absolute;
  width: 5rem;
  height: 2rem;
  border-radius: 0.5rem;
  top: 3rem;
  right: 10rem;
  border: none;
  background-color: #000000;
}

.publishBtn:hover{
  cursor: pointer;
}